{% extends "layout.html" %}

{% block title %}My Web{% endblock %}

{% block content %}

{% comment 'Nota para el comentario' %}
<h1>Este comentario no será procesado o visto en el browser</h1>
{% endcomment %}

<h1 class="title">my web - {{title}}</h1>

<p>{{ mi_variable }}</p>

{% if nombre %}
    <p>{{ nombre }}</p>
{% else %}
    <strong>No hay nombre</strong>
{% endif %}
    
    <p>Hola mundo :D</p>
    
{% include 'fecha_actual.html' with saludo="Hello world from template" %} <!--only (to restrict variables)-->

{% endblock %}