{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        <!--titulo de cada página-->
        {% endblock %}
        | AtodeKimeru
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <div id="logotipo">
            <!--logo django-->     
            <img src="{% static 'images/logo.png' %}" alt="dj">
            <h1>Sitio web con Django | AtodeKimeru </h1>
        </div>
    </header>

    <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'contact' 'Iván' 'Barragán' %}">Contacto</a>
            </li>
            <li>
                <a href="{% url 'page' %}">Página</a>
            </li>
        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="content">
        <div class="box">
            {% block content %}
                <!--contenido que viene de templates-->
                <strong>Contenido bloque original!</strong>
            {% endblock %}
        </div>
    </div>

    <footer>
        Master en python &copy, AtodeKimeru - {% now "d/m/Y h:m" %}
    </footer>
</body>

</html>